
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.gradient-diagonal {
  background: linear-gradient(to bottom right, transparent, rgba(31, 41, 55, 0.8));
}

.custom-dark-gray-bg {
  background-color: rgb(43, 45, 49);
}

.custom-mid-gray-bg {
  background-color: rgb(49, 51, 56);
}

.custom-light-gray-bg {
  background-color: rgb(117, 117, 117);
}

.modal-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.vertical-divider {
  width: 1px;
  height: 50%;
  background-color: transparent;
  border-style: solid;
  border-width: 0 1px 0 0;
  border-color: lightGrey;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: lightGrey;
}

.loader-overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 3;
  height: 100vh;
  background-color: #ffffff;
}

.loader-overlay-centered {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    border-radius: 5px;
    z-index: 3;
    height: 100%;
    background-color: #ffffff;
}

.loading-spinner {
  position: absolute; 
  top: 100px; 
  left: calc(50% - 1rem); 
  font-size: 2rem;
}

.loading-spinner-centered {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    font-size: 2rem;
}

.remove-upload-button {
  background-color: transparent;
  border: none;
  color: grey;
  font-size: 1.0rem;
  position: absolute;
  top: 5px;
  right: 5px;
}

.remove-upload-button:hover {
  color: black;
}
